node_modules
.output
.nuxt
.git
.env
.env.*
*.log
dist
.DS_Store
.agent
.claude
.gemini-clipboard
.vscode
coverage
.vitest
playwright-report
test-results
/artifacts/
/output/
/public/video-studio/**/*.png
/public/video-studio/**/*.jpg
/public/video-studio/**/*.jpeg
/public/video-studio/**/*.webp
/public/video-studio/**/*.mp3
/public/video-studio/**/*.wav
/public/video-studio/**/*.mp4
/.prettierignore
/.prettierrc
/*.md
/*.sql
/bun.lockb

_to_delete
**/__pycache__
