node_modules
.output
.nuxt
.git
.env
.env.*
*.log
dist
.DS_Store
.agent
.claude
.gemini-clipboard
.vscode
coverage
.vitest
playwright-report
test-results
/.prettierignore
/.prettierrc
/*.md
/*.sql
/bun.lockb
